@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-view></div>

@section scripts{
    <script src="~/Scripts/angular-file-upload-all.js"></script>
    @Scripts.Render("~/bundles/app")

    }
